

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>

    <div class="container">
        <h1>Welcome to a prediction application for default payment of next month of Credit Card Clients!</h1>
        <p>We provide a usefull machine learning model for the task.</p>
        <p>If you have some information about a debtor you can click the following button and you will be redirected to an input form to do some inference.</p>
        <a href="/predict_spark">
            <button>Prediction Form</button>
        </a>
    </div>

</body>
</html>